<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <description>The filter for the yeb application</description>
        <filter-name>yeb-filter</filter-name>
        <filter-class>org.yeb.mvc.YebFilter</filter-class>
		<async-supported>true</async-supported>

    </filter>
    <filter-mapping>
        <filter-name>yeb-filter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
